# http://www.appveyor.com/docs/appveyor-yml

# Set build version format here instead of in the admin panel.
version: "{build}"

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf input

# Test against these versions of Node.js.
environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "4"
    - nodejs_version: "6"
    - nodejs_version: "8"
    - nodejs_version: "10"
    - nodejs_version: "12"

# Finish on first failed build
matrix:
  fast_finish: true

# Install node, display versions, install dependencies
install:
  - ps: Install-Product node 8
  - node --version && npm --version
  - git --version && svn --version
  - npm install -g yarn grunt
  - yarn
  - ps: Install-Product node $env:nodejs_version

# Post-install test scripts.
test_script:
  - cmd: npm run ci && (cd packages/bower-json && npm install && npm test) && (cd packages/bower-registry-client && npm install && npm test)


# Make clone much faster
shallow_clone: true

# Disable Visual Studio build and deploy
build: off
deploy: off

# Cache node modules, and refresh if package.json changes
cache:
  - "%LOCALAPPDATA%\\Yarn"
