/node_modules
/npm-debug.log

/test/assets/github-test-package
/test/assets/github-test-package-copy
/test/assets/temp
/test/assets/temp2
/test/assets/temp-resolve-cache

/bower.json
/component.json
/bower_components

/test/reports/
