sudo: false

language: node_js

node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "4.0"
  - "4.1"
  - "4.2"
  - "5"
  - "6"

install:
  - node --version
  - npm --version
  - git --version
  - svn --version | head -n 1
  - npm install -g grunt-cli
  - npm install

os:
  - osx
  - linux

matrix:
  fast_finish: true
  allow_failures:
    - os: osx
    - env: "NODE_VERSION=0.11"

script:
  - grunt travis
