sudo: false

language: node_js

node_js:
  - "0.10"
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"
  - "9"

install:
  - node --version
  - npm --version
  - git --version
  - svn --version | head -n 1
  - npm install -g grunt yarn
  - yarn

os:
  - osx
  - linux

matrix:
  fast_finish: true
  allow_failures:
    - os: osx
    - env: "NODE_VERSION=7"

script:
  - grunt travis
