
{{#yellow}}There where errors while resolving dependencies:{{/yellow}}
{{#errors}}
- {{#red}}{{pkg.name}}{{/red}} {{error.message}}
{{#error.details}}
{{#grey}}{{error.details}}{{/grey}}
{{/error.details}}
{{/errors}}