
Usage:

    {{#cyan}}bower{{/cyan}} uninstall {{#grey}}<package>{{/grey}}

Options:

    {{#yellow}}--save{{/yellow}}     - Adds a dependency entry to a project's {{json}}
    {{#yellow}}--no-color{{/yellow}} - Do not print colors

Can specify one or more:

    {{#cyan}}bower{{/cyan}} uninstall {{#grey}}jquery jquery-ui{{/grey}}

Description:

    Uninstalls a browser package locally from your {{#grey}}{{directory}}{{/grey}} directory
