
Usage:

    {{#cyan}}bower{{/cyan}} <command> {{#grey}}<options>{{/grey}}

Commands:

    {{commands}}

Example:

    {{#grey}}${{/grey}} {{#cyan}}bower{{/cyan}} install {{#grey}}bootstrap spine jquery{{/grey}}

General Help:

    {{#grey}}http://git.io/bower{{/grey}}
