
Usage:

    {{#cyan}}bower{{/cyan}} list
    {{#cyan}}bower{{/cyan}} ls


Options:

    {{#yellow}}--map{{/yellow}}   - Generates a deep dependency JSON source mapping
    {{#yellow}}--paths{{/yellow}} - Generates a simple JSON source mapping


Description:

    Lists all packages
