
Usage:

    {{#cyan}}bower{{/cyan}} search
    {{#cyan}}bower{{/cyan}} search {{#grey}}<name>{{/grey}}

Options:

    {{#yellow}}--no-colors{{/yellow}}  - do not print colors

Description:

    Finds all packages or a specific package.
