
Usage:

    {{#cyan}}bower{{/cyan}} uninstall {{#grey}}<package>{{/grey}}

Options:

    {{#yellow}}--save{{/yellow}} - adds a dependency entry to a project's {{json}}

Can specify one or more:

    {{#cyan}}bower{{/cyan}} uninstall {{#grey}}jquery jquery-ui{{/grey}}

Description:

    Uninstalls a browser package locally from your {{#grey}}{{directory}}{{/grey}} directory
