
Usage:

    {{#cyan}}bower{{/cyan}} update
    {{#cyan}}bower{{/cyan}} update {{#grey}}<package>{{/grey}}

Options:

    {{#yellow}}--no-colors{{/yellow}}  - do not print colors

Description:

    Refreshes a package install
