
Usage:

    {{#cyan}}bower{{/cyan}} install
    {{#cyan}}bower{{/cyan}} install {{#grey}}<folder>{{/grey}}
    {{#cyan}}bower{{/cyan}} install {{#grey}}<pkg>{{/grey}}
    {{#cyan}}bower{{/cyan}} install {{#grey}}<pkg>#<version>{{/grey}}

Options:

    {{#yellow}}--save{{/yellow}}     - Adds a dependency entry to a project's {{json}}
    {{#yellow}}--force{{/yellow}}    - Force fetching remote resources even if a local copy exists on disk
    {{#yellow}}--no-color{{/yellow}} - Do not print colors

Can specify one or more:

    {{#cyan}}bower{{/cyan}} install {{#grey}}./foo/package git://example.com#1.0.2{{/grey}}

Description:

    Installs a browser package locally into a {{#grey}}{{directory}}{{/grey}} directory
