
{{#yellow}}Please note that{{/yellow}}
{{#requirements}}
    {{#cyan}}{{{pkg.manager.name}}}{{/cyan}} requires {{{pkg.name}}} {{#white}}{{{tag}}}{{/white}}
{{/requirements}}

Resolved to {{{name}}} {{#white}}v{{{resolvedTo}}}{{/white}}, which matches the requirement defined in the project's {{{json}}}.
Conflicts may occur.
