{{#version}}{{#cyan}}{{{package}}}{{/cyan}}#{{{version}}}{{/version}}{{^version}}{{#yellow}}{{{package}}} - unknown version{{/yellow}}{{/version}}{{#latest}} ({{#upgrade}}{{{upgrade}}} available, {{/upgrade}}{{{latest}}} latest){{/latest}}