{{#version}}{{#cyan}}{{package}}{{/cyan}}#{{version}}{{/version}}{{^version}}{{#yellow}}{{package}} - not installed{{/yellow}}{{/version}}{{#upgrade}}{{#grey}} ({{upgrade}} now available){{/grey}}{{/upgrade}}